.spinner{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.spinning{
    animation: spinner 1s linear infinite;
}

@keyframes spinner{
    to {
        Transform: rotate(360deg);
    }
}